* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --corFundo: #ccc;
    --corWhite:#fff;
    --corBlack:#111;
    --corRed:red;
    --corBlue:blue;
}
